
 
<h1>Welcome to the Prayer Gathering app!</h1>

<p>This app is made so that people can create prayer gatherings and share their prayers with hosts and other guests.</p>

<%= link_to 'Sign up', signup_path, :class => "button" %> <%= link_to 'Login', login_path, :class => "button" %>
